//footer
.main-footer {
    overflow: auto;
    background-color: #000;
    color: #fff;
    padding: 0% 10%;
    width: 100%;
    box-shadow: 1px 1px 5px #333;
    
    @media (max-width: 1400px) {
        padding: 0% 5%;
    }
    
    h5 {
        float: left;
        margin: 2% 0;
        font-size: 14px;
    }
    p {
        font-size: 9px;
        text-align: center;
    }
    .redes {
        float: right;
        margin: 1%;
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
    
    @media (max-width: 440px) {
            display: none;
        } 
}

.red-icon {
    background: url(../images/sprite_minimal.png);
    background-repeat:no-repeat;
    display: inline-block;
    width: 27px;
    height: 25px;
    vertical-align: bottom;
    &:hover {
        opacity: 0.2;
    }
}

.red-icon-style {
    background: url(images/sprite_minimal.png);
}

.red-icon-contacto {background-position: -33px 1px;}
.red-icon-email {background-position: 3px 2px}
.red-icon-skype {background-position: -66px 2px;}
.red-icon-face {background-position: -100px 2px}
.red-icon-twitter {background-position: -137px 2px}
.red-icon-plus {background-position: -172px 2px}
.red-icon-linkedin {background-position: -206px 2px}
.red-icon-github {background-position: -241px 2px}
.red-icon-pinterest {background-position: -276px 2px}
.red-icon-behance {background-position: -310px 2px}
.red-icon-snapchat {background-position: -344px 2px}
.red-icon-instagram {background-position: -378px 2px}

