//estilo del shortcode [tarifas]
.tarifas-items {
    text-align: center;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: stretch;
    -webkit-justify-content: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

    @media (max-width: 1200px) {
        display: initial;
    }

}

.tarifa-item {
    background-color: #ececec;
    width: 29%;
    display: flex;
    display:-webkit-flex;
    vertical-align: top;
    margin: 50px 2%;
    box-shadow: 1px 1px 5px #999;
    flex-basis: 28%;
    -webkit-flex-basis: 28%;

    @media (max-width: 1200px) {
        display: inline-block;
        width: 100%;
        margin: 50px 0;
        box-shadow: none;
        background: #fff;
        padding-bottom: 50px;
        border-bottom: 1px solid #333;

        &:last-child {
          border: none;
        }
    }

    @media (max-width: 768px) {
        margin: 0;
        margin-bottom: 80px;
        border-bottom: none;
    }
}

.tarifa {
    position: relative;
    padding: 20px;
    text-align: left;

    @media (max-width: 768px) {
        padding: 40px;
    }

    p {
      line-height: 135%;
      margin: 20px 0;
    }

    h3 {
      font-size: 150%;
      text-transform: uppercase;
      margin: 40px 0 10px 0;
    }

    ul {
      margin-left: 5px;
      li {
        margin-left: 15px;
        list-style-type: circle;
        line-height: 150%;
        em {
          font-size: 70%;
        }
      }
    }
}

.titulo-tarifa {
    font-size: 100%;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
    cursor: pointer;

    @media (max-width: 1200px) {
        display: inline-block;
        width: 50%;
    }

    @media (max-width: 768px) {
      font-size: 150%;
      width: 100%;
    }
}

.contenido-tarifa {
  @media (max-width: 1200px) {
    width: 50%;
    float: left;
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    width: 100%;
    float: none;
    padding: 0;
  }
}

.tarifa-btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
    line-height: 120%;
    font-style: italic;

    &:hover{
        text-decoration: underline;
    }

}

.tarifa-imagen {
    width: 100%;
    max-width: 480px;
    margin: 20px auto;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 1200px) {
        float: left;
        width: 50%;
    }

    @media (max-width: 768px) {
        display: inherit;
        width: 100%;
        max-width: 480px;
        float: none;
        margin: 20px auto;
    }
}

.tarifa-precio {
  font-size: 130%;
  font-weight: 700;

  &:before {
    content: 'Desde AR$';
    margin-right:10px;
  }

  @media (max-width: 1200px) {
    float: left;
  }

}

.tarifa-btn {
    position: absolute;
    bottom: -34px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    box-shadow: 1px 1px 1px #333;
    transition: all 0.2s;

    &:hover {
        background-color: #555;
        color: #fff;
        font-size: 100%;
    }

    @media (max-width: 1200px) {
        position: static;
        width: 150px;
        margin-top: 70px;
        display: inline-block;
    }

    @media (max-width: 768px) {
        position: absolute;
        bottom: -66px;
        left: 0;
        width: 100%;
    }
}
